*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.back {
background-image:url(https://i.natgeofe.com/k/6496b566-0510-4e92-84e8-7a0cf04aa505/red-fox-portrait_16x9.jpg);  
background-repeat:no-repeat ;
background-size:100%;
height: 100vh;
}
.title {
display: flex;
flex-direction:column;
width: 100%;

justify-content:center;
align-items: center;
color: #5c5c5c;
background-color: rgba(0,0,0,0.5);

}
.container {
    width:430px;
background-color: rgba(0, 0, 0, 0.3);
border: 2px solid #f5f5f58e;
position: absolute;
top: 35%;
 left: 50%;
transform: translate(-50%, -50%);
border-radius: 15px;
padding: 15px;


}
.colunm {
    display: flex;

    width: 100%;
    
  }
.colunm .line {
display: flex;
align-items: center;

}
.colunm .line span {
    color: #858585;
    margin-left: 5px;
    width: 100px;
    font-weight: bold;
    
  }
  .column .number {
    margin-right: 80px;
  }

.container2 {
    width:430px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #f5f5f58e;
    position: absolute;
    top: 40%;
     left: 50%;
    transform: translate(-50%, 60%);
    border-radius: 15px;
    padding: 15px;
    
    
    }

.button {
color:black;
background-color:rgb(55, 139, 207);
border-style: solid;
border-color: black;
padding: 10px;
border-radius: 5px;
margin: 1px;
height: 15px;
width: 15px;
font-size: 14px;

}
.button:hover {
    background-color:rgb(31, 84, 128)
}
.button:active{
    background-color:rgb(255, 66, 198)
}
.button2 {
    color:black;
    background-color:rgb(55, 139, 207);
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    height:40px;
    width: 40px;
    font-size: 14px;
    
    
    }
.button2:hover {
    background-color:rgb(31, 84, 128)
}
.button2:active{
    background-color:rgb(255, 66, 198)
}
.number {
    width:160px;
    padding: 5px;
    margin:4px;
    border-style: solid;
    border-color: black;
    background: rgb(252, 191, 77); 
}
.result {
    border-style: solid;
    border-color: black;
    padding: 5px;
}
.result2 {
    border-style: solid;
    border-color: black;
    padding: 5px;

}





.text{
 height:15px;
 width: 15px;
 color: #f5f5f58e;
 font-weight: bold;
}
